* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #F4F5F7;
  padding: 30px;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
}

#header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: larger;
    font-weight: bold;
    padding: 0 20px;
  }
}

#dashboard {
  background-color: #00000025;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    th {
      padding: 10px;
      background-color: #00000025;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #00000025;

      input,
      select {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 6px;
        background-color: #F4F5F7;
      }

      a,
      button {
        font-size: small;
        cursor: pointer;
      }

      a {
        padding: 10px;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        background-color: burlywood;
        color: black;
      }

      button {
        width: 1/3;
        padding: 10px;
        border: none;
        border-radius: 6px;
      }

    }
  }
}

#dashboard2 {
  background-color: #00000025;
  display: flex;
  width: 100%;
  height: auto;
  overflow-y: auto;
  flex-wrap: wrap;

  .square {
    width: 130px;
    height: 130px;
    background-color: #84BC42;
    margin: 10px;
    text-align: center;
    border-radius: 6px;

    a {
      height: 100%;
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      font-size: 18px;
    }

    h6 {
      font-size: 12px;
    }
  }
}

#dashboard3 {
  display: flex;
  width: 100%;
  height: auto;

  canvas {
    max-width: 60%;
    max-height: 100%;
  }

  #grades-container {
    width: 40%;
    height: 100%;
    max-width: 40%;
    max-height: 100%;
    padding: 20px 0;

    ul {
      list-style: none;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: start;
      place-items: center;
      gap: 10px;
    }
  }
}

#footer {
  padding: 20px;
  font-size: smaller;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 10px;

  a {
    display: flex;
    place-items: center;
  }

  svg {
    height: 15px;
    width: 15px;
  }

}